/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* GENERAL */

/* tag */
body {
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 color: #33475b;
}
ul {
  list-style-type: none;
}
a {
  font-size: 18px;
  text-decoration: none;
}
h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
p {
  margin: 20px 0;
  line-height: 30px;
}
/* class */

/* layout */
.container {
  padding: 0 8%;
  height: 100%;
  position: relative;
}
.col {
  float: left;
  height: 100%;
}
.thirty {
  width: 30%;
}
.fifty {
  width: 50%;
}
.seventy {
  width: 70%;
}
.stripe {
  height: 85px;
}
section {
  margin: 50px 0;
}
.row {
  margin-bottom: 50px;
}
.row:last-child {
  margin-bottom: 0;
}
.box {
  width: 100%;
  height: 400px;
  padding: 20px;
  background: red;
}
.cleafix::after {
  content: '';
  display: table;
  clear: both;
}
.inline-list li {
  display: inline;
}

/* button */
.cta {
  font-size: 14px;
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
}
.alt {
  color: #fe775a;
  background-color: transparent;
  border: 1px solid #fe775a;
}
.primary {
  padding: 20px 30px;
  display: inline-block;
}
.secondary {
  padding: 10px;
}

/* text */
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.upper-case {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

/* content */
.get-hs::before {
  content: 'GetHubspotFree';
}
.get-started::before {
  content: 'Get started with FREE tools, and upgrade as you grow.';
  font-size: 11px;
}
/* END GENERAL */

/* HEADER */
header a {
  color: #33475b;
}
header .user-menu {
  background-color: #f4f9fd;
}
header .stripe li {
  line-height: 85px;
}
header .stripe .right li {
  padding-left: 20px;
}
header .stripe li:last-child {
  padding-right: 0;
}

/* language and contact */
header .user-menu .language li {
  padding: 0 20px;
  border-right: 1px solid #33475b;
}
header .user-menu .language li:last-child {
  border: none;
}

/* navigation */
header .navigation .logo {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* action */
header .user-menu .action li .search {
  color: #13abc2;
}


/* banner */
header .banner {
  height: 695px;
  padding-top: 50px;
  background-color: #fff5ef;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
}
/* banner bottom */
header .banner .banner-bottom {
  height: 85px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
}
/* END HEADER */

/* MAIN */
/* services */
main .services .intro {
  padding: 20px 100px;
}
main .services .intro img {
  height: 200px;
  display: inline-block;
}
/* end services */
/* END MAIN */
