/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* GENERAL */
/* TAG */
body {
 font-family: 'Montserrat', sans-serif;
 font-size: 16px;
 color: #33475b;
}
h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
h2 {
  font-size: 35px;
  margin-bottom: 30px;
  position: relative;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 18px;
  display: inline-block;
}
p {
  margin: 25px 0;
  line-height: 30px;
}
a {
  font-size: 15px;    /* NOTE: mettere a posto tutti i font-size */
  text-decoration: none;
}
ul {
  list-style-type: none;
}
section {
  padding: 50px 0;
}

/* CLASS */
/* layout */
.container {
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
}
.col {
  float: left;
}
.quarter {
  width: 25%;
}
.thirty {
  width: 30%;
}
.fifty {
  width: 50%;
}
.seventy {
  width: 70%;
}
.stripe {
  height: 85px;
  line-height: 85px;
}
.stripe .col {
  height: 100%;
}
.row {
  margin-bottom: 50px;
}
.row:last-child {
  margin-bottom: 0;
}
.box {
  padding: 20px 40px;
}
.item {
  padding: 20px 100px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.inline-list li {
  display: inline;
}
.check {
  margin: 30px 0 50px;
}
.check li span {
  margin: 0 10px;
}
.figure {
  margin-bottom: 20px;
}

/* size */
.very-small {
  height: 33px;
}
.small {
  height: 100px;
}
.medium {
  height: 200px;
}
.large {
  height: 350px;
}

/* button */
.cta {
  background-color: #fe775a;
  border-radius: 5px;      /* NOTE: Raggruppare RADIUS? */
  display: inline-block;
}
.alt {
  background-color: transparent;
  border: 1px solid #fe775a;
}
.secondary {
  padding: 10px;
}

/* text */
.smaller {
  font-size: 11px;
}
.bold {
  font-weight: bold;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

/* color */
.white {
  color: white;
}
.orange {
  color: #fe775a;
}
.light-blue {
  background-color: #f4f9fd;
}
.light-gray {
  color: #dadee0;
}
.bglight-gray {
  background-color: #dadee0;
}
.bgwhite {
  background-color: white;
  border-style: groove;
  border-radius: 5px;   /* NOTE: Raggruppare RADIUS? */
}

/* content */

/* ID */
#copyright {
  margin-top: 10px;
}
/* END GENERAL */

/* HEADER */
header a {
  color: #33475b;
}
header .stripe .col .logo > * {
  vertical-align: middle;
}
header .stripe .right .action .cta {
  display: inline;
}
header .stripe .right li {
  margin-left: 20px;
}

/* language and contact */
header .user-menu .language li {    /* NOTE: qui non ho usato il margine perchè l'elemento ha il bordo! altrimenti si poteva usare anche il margine per distanziare */
  padding: 0 20px;
  border-right: 1px solid #33475b;
}
header .user-menu .language li:first-child {
  padding-left: 0;
}
header .user-menu .language li:last-child {
  border: none;
}

/* action */
header .user-menu .action li .search {
  color: #13abc2;
}

/* banner */
header .banner {
  height: 695px;
  padding-top: 50px;
  background-color: #fff5ef;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
}

/* banner bottom */
header .banner .banner-bottom {
  height: 85px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
}
/* END HEADER */

/* MAIN */

/* Services */
/* intro */
main .services .intro .seventy {
  margin: auto;
}

/* CRM */
main .services #crm > * {
  padding: 50px 50px 20px;
}

/* hr */
main .services .crm .col.seventy hr {
  width: 60%;
  margin: 5px 0 5px 50px;
  border: 1px solid gray;
  background-color: gray;
  display: inline-block;
}

/* plans */
main .services .plans .col:nth-child(2) {
  margin: 0 5%;
}
main .services .plans .col .bgwhite {
  padding: 20px 40px;
}
main .services .plans .col .bgwhite hr {
  margin: 60px 0 40px;
  border: 1px solid gray;
  background-color: gray;
}
/* end Services */

/* Community */
main .community {
  background-image: linear-gradient(to right top, #00a4bc, #00abba, #00b1b5, #00b7ae, #00bda5);
}
main .community .row:last-child {
  margin-bottom: 50px;
}

/* table */
main .community .table .table-row:first-child {
  border-bottom: 1px solid white;
}
main .community .table .table-row .item {
  border-right: 1px solid white;
}
main .community .table .table-row .item:last-child {
  border-right: none;
}
main .community .table .table-row .item h2 {
  display: inline-block;
  margin-bottom: 10px;
}
main .community .table .table-row .item h2::after {
  content: '+';
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translate(-50%, -50%);
}
main .community .row.table .item > p.smaller {
  margin: 0;
}
/* end Community */

/* Partners */
/* customers */
main .partners .customers .stripe .logo {
  width: calc(100% / 4);
  padding: 0 20px;
}
main .partners .customers .seventy {
  padding: 0 120px;
}
main .partners .customers .seventy .stripe .logo > img {
  width: 100%;
  vertical-align: middle;
}

/* teaser */
main .partners .row .col.teaser {
  padding-right: 100px;
}
/* end Partners */
/* END MAIN */

/* FOOTER */
footer {
  background-color: #32495b;
}
footer a.cta {
  color: #33475b;
}

  /* various link */
footer .various-link .col .link-list li {
  padding: 10px 0;
}
footer .various-link .col .link-list li:first-child {
  margin-top: 20px;
}

/* social */
footer .various-link .col .link-list .social li {
  padding-right: 30px;
}

footer .languages .lang-list li {
  padding: 0 20px;
}
  /* END FOOTER */
