/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* GENERAL */

/* TAG */
body {
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 color: #33475b;
}
ul {
  list-style-type: none;
}
a {
  font-size: 18px;
  text-decoration: none;
}
h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
h3 {
  font-size: 25px;
}
p {
  margin: 20px 0;
  line-height: 30px;
}
img {
  display: inline-block;
}
section {
  padding: 50px 0;
}

/* CLASS */

/* layout */
.container {
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
}
.col {
  float: left;
}
.thirty {
  width: 30%;
}
.fifty {
  width: 50%;
}
.seventy {
  width: 70%;
}
.stripe {
  height: 85px;
  line-height: 85px;
}
.stripe .col {
  height: 100%;
}
.row {
  margin-bottom: 50px;
}
.row:last-child {
  margin-bottom: 0;
}
.box {
  width: 100%;
  padding: 20px 40px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.inline-list li {
  display: inline;
}
.check {
  padding-bottom: 50px;
}
.check li span {
  margin: 0 10px;
}
.check li i {
  color: #fe775a;
}
.pop-feature {
  margin: 30px 0;
  line-height: 20px;
}
.figure {
  height: 100px;
  margin-bottom: 20px;
}

/* button */
.cta {
  font-size: 14px;
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
}
.alt {
  color: #fe775a;
  background-color: transparent;
  border: 1px solid #fe775a;
}
.primary {
  padding: 20px 30px;
  display: inline-block;
}
.secondary {
  padding: 10px;
}

/* text */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

/* color */
.white {
  background-color: white;
  border-style: groove;
  border-radius: 5px;
}
.light-blue {
  background-color: #f4f9fd;
}

/* content */
.get-hs::before {
  content: 'GetHubspotFree';
}
.learn::before {
  content: 'Learn More';
}
.get-started::before {
  content: 'Get started with FREE tools, and upgrade as you grow.';
  font-size: 11px;
}
.pop-feature::before {
  content: 'popular feature';
  font-size: 18px;
  font-weight: bold;
}


/* END GENERAL */

/* HEADER */
header a {
  color: #33475b;
}
header .stripe .logo > img {
  vertical-align: middle;
}
header .stripe .right li {
  padding-left: 20px;
}
header .stripe li:last-child {
  padding-right: 0;
}

/* language and contact */
header .user-menu .language li {
  padding: 0 20px;
  border-right: 1px solid #33475b;
}
header .user-menu .language li:last-child {
  border: none;
}

/* action */
header .user-menu .action li .search {
  color: #13abc2;
}

/* banner */
header .banner {
  height: 695px;
  padding-top: 50px;
  background-color: #fff5ef;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
}

/* banner bottom */
header .banner .banner-bottom {
  height: 85px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
}
/* END HEADER */

/* MAIN */

/* services */


/* intro */
main .services .intro .box {
  padding: 20px 100px;
}
main .services .intro .box img {
  height: 200px;
}

/* CRM */
#crm > * {
  padding: 50px 50px 0;
}

/* hr */
main .services .crm .col.seventy hr {
  width: 60%;
  margin: 5px 0 5px 50px;
  border: 1px solid gray;
  background-color: gray;
  display: inline-block;
}

/* plans */
main .services .plans .box hr {
  margin: 40px 0;
  border: 1px solid gray;
  background-color: gray;
}
main .services .plans .col:nth-child(2) {
  margin: 0 5%;
}

/* end services */
/* END MAIN */
